<div class="p-3 m-auto shadow-lg rounded-lg" style="width: 22rem;">
  <div class="card">
    <div class="card-img-wrapper">
      <img
      class="card-img-top"
      src="assets/images/apartment-1.png"
      alt="Card image cap"/>
    </div>
    <div class="card-body">
      <h1 class="card-title">4 BHK Aparment</h1>
      <span class="card-text">in Erose Flat, New York</span>
      <h6 class="card-text">Unfurnished | Ready to Move</h6>
      <hr />
      <h6>Price: 
        <span class="font-light"> 5000 USD. </span>
        | Area: 
        <span class="font-light"> 1200 Sq Ft </span>
      </h6>
    </div>
  </div>
</div>
